:root {
    --white: #F5ECE0;
    --blue-white: #5F99AE;
    --red-cr: #F7374F;
    --move: #693382;
    --black-white: #050505fa;
}
.form{
    border-radius:10px 300px;
    background-color: white;    
}
.co-contact{
    background-color: #fafafa;
}

.form-control{
    background-color:transparent;
    border: none;
    border-radius: 0%;
    border-bottom: 2px var(--black-white) solid;
    transition: 0.5s ease;
    color: black;
}
.form-control:focus,.form-control:hover{ 
    background-color:transparent;
    border: none;
    border-radius: 0%;
    border-bottom: 2px var(--red-cr) solid;
    color: var(--black-white);
    box-shadow: none;
    scale: 1.05;
    font-weight: 400;
}



.form-control::placeholder{
    color:  black;
    font-weight: 600;
    
}
.form-control:focus::placeholder,
.form-control:not(:placeholder-shown)::placeholder {
    color: var(--red-cr);
}


.btn_trns{
    border: 3px solid black;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    background-color: transparent;
}
.btn_trns:hover {
    color: var(--white);
    text-decoration: none;
    transform: scale(1.05);
    letter-spacing: 3px;
    color: var(--red-cr);
    background-color: transparent;
}

.alert{
    transition: 0.5s;
    background-color: var(--white);
    color: green;
}