:root {
    --white: #F5ECE0;
    --blue-white: #5F99AE;
    --red-cr: #F7374F;
    --move: #693382;
    --black-white: #050505fa;
}


body{
    background-color: var(--black-white);
}


.project-card {
    cursor: pointer;
    transition: 0.5s ease;
    color: var(--red-cr);
    background-color: transparent;
}

.project-card:hover {
    color:var(--red-cr);
    scale:1.07;
    
}


.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.4s ease;
}

/* التأثير اللي عملته قبل كده */
.project-card:hover img {
    filter: brightness(30%);
}

/* النص اللي بيظهر فوق الصورة */
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    /* عشان ميمنعش الضغط على العنصر */
}

.project-card:hover .overlay-text {
    opacity: 1;
}