

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* إزالة أي margin أو padding من الـ body و الـ html */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* تهيئة Hero Section */
.hero-section {
  background: linear-gradient(to right, #141e30, #243b55);
  /* خلفية متدرجة */
  width: 100%;
  /* العرض 100% */
  height: 100vh;
  /* ارتفاع كامل الشاشة */
  display: flex;
  justify-content: center;
  /* التوسيط أفقي */
  align-items: center;
  /* التوسيط عمودي */
  padding: 0;
}

/* تخصيص الأزرار */
.btn-outline-light {
  border-radius: 25px;
}

.btn-light {
  border-radius: 25px;
}

/* تخصيص المحتوى داخل الـ Hero */
.text-center h1 {
  font-size: 3.5rem;
}

.text-center h4 {
  font-size: 1.5rem;
}